@use "./colors" as *;
@use "./breakpoints" as *;

.bio {
  // Align the bio containers in a column and push them to the left
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Avenir";

  &__content {
    // Add increased padding to the content section for large screens
    @include large {
      padding: 0 8.5%;
    }
  }
  &__image {
    margin-bottom: 24px;
    // Size to the full width of the content container
    min-width: 100%;
    max-width: 100%;

    @include medium {
      margin-bottom: 32px;
    }

    // Assign absolute vertical margins set in style guide and automatic left and right margins to center in the content container for large screen
    @include large {
      margin: 0 auto 48px auto;
    }
  }

  //Assign all the absolute vertical spacings for all the device sizes
  &__quote {
    padding-bottom: 32px;
    @include large {
      width: 90%;
    }
  }

  &__signature {
    font-size: 0.875rem;
    font-weight: 600;
    padding-bottom: 40px;

    @include medium {
      font-size: 1rem;
    }
  }

  &__name {
    padding-bottom: 24px;
    @include large {
      padding-bottom: 32px;
    }
  }

  &__story {
    // Add padding to the bottom for mobile to maintain vertical spacing between paragraphs while achieve spacing between sections
    padding-bottom: 16px;

    // Align the paragraphs side by side for devices >=medium size
    @include medium {
      // Remove the extra padding on the bottom for devices >=medium
      padding-bottom: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    //Assign the spacing to each individual paragraph
    &-text {
      padding-bottom: 24px;

      @include medium {
        width: 47%;
        padding-bottom: 40px;
      }

      @include large {
        padding-bottom: 48px;
      }
    }
  }
}
