@use "./colors" as *;
@use "./breakpoints" as *;

// Remove the bullet points from all lists
ul {
  list-style-type: none;
}

// Remove the underlines from all links
a {
  text-decoration: none;
  color: $color-white;
}

//Headers
h1,
.title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;

  @include medium {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
  @include large {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
//Subheaders
h2 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;

  @include medium {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
  @include large {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;

  @include medium {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
  @include large {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 600;
  }
}
// paragraphs and contact information
h4,
p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;

  @include medium {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  @include large {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
// labels
h5,
.new-comment__label,
.shows__label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: $color-silver;
  font-weight: 600;
  margin: 4px;
}
// Define the default padding on the left and right side of the page for consistent alignment
.footer,
.bio,
.comments,
.hero__content,
.shows {
  padding: 0 5%;

  @include medium {
    padding: 0 3%;
  }
  @include large {
    padding: 0 12.5%;
  }
}
// Default margins for the footer div
.footer__contact div {
  padding-bottom: 20px;

  @include large {
    padding-bottom: 24px;
  }
}
// Default spacing for section titles
.section__title {
  @extend .title;
  //Remove the line height from the section titles to attain style guide spacing between elements
  line-height: 1.2rem;
  font-weight: 700;
  line-height: 2rem;
  font-size: 1.5rem;

  // Set up consistent padding for the title of each section
  padding: 32px 0 24px 0;

  @include medium {
    padding: 40px 0 32px 0;
    line-height: 1.2;
    font-weight: 700;
    line-height: 2.75rem;
    font-size: 2.255rem;
  }
  @include large {
    padding: 40px 0 40px 0;
    line-height: 1.2;
    font-weight: 700;
    line-height: 2.75rem;
    font-size: 2.25rem;
  }
}
// default styling for input elements states
.new-comment__form-name,
.new-comment__form-message,
.new-comment__form-button {
  &:focus {
    outline: none;
    border-color: $color-black;
  }
}
// Show spacing for meium devices
.show li {
  font-size: 1rem;
  flex-grow: 1;

  @include medium {
    width: 30%;
  }
}

// Default styling for show labels
.shows__label {
  padding-bottom: 16px;
  @include medium {
    width: 34%;
  }
  @include large {
    padding-bottom: 32px;
  }
}
