@use "./colors" as *;
@use "./breakpoints" as *;
@use "./default" as *;

.footer {
  background-color: $color-black;
  color: $color-white;
  font-family: "Avenir";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;

  &__top {
    // Put the title, social icons and logo in a row for medium devices
    @include medium {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    // Split the top part of the footer into two sections for easier alignment for medium devices
    &--left {
      @include medium {
        width: 60%;
        display: flex;
        align-items: baseline;
      }
    }

    &-title {
      // Increase font size to match mockup
      font-size: 2rem;
      @include medium {
        padding-right: 2.5rem;
      }
    }
    &-social {
      // Put the social icons in a row for all devices - spacing is controlled by static padding instead of justify-content
      display: flex;
      justify-content: flex-start;
      padding-bottom: 2rem;

      // Set the icon spacing
      &-icon {
        padding-right: 2rem;
      }
    }

    &-logo {
      // Hide the logo for mobile display
      display: none;

      // Show the logo for medium device size
      @include medium {
        display: block;
      }

      // Increase the logo size for large devices
      @include large {
        height: 1.5rem;
        width: 9.375rem;
      }
    }
  }

  &__contacts {
    // Put the contact information in a row for medium devices
    @include medium {
      display: flex;
    }
  }

  &__contact {
    @include medium {
      // Creates consistent spacing between the contacts once they are flexed
      padding-right: 3%;
      padding-right: 1.5rem;
      // Set the width of each contact to be absolute to keep them from moving across devices
      width: 13.75rem;
    }

    &-name {
      font-weight: 600;
    }

    &-email {
      padding-bottom: 1.875rem;
      @include large {
        padding-bottom: 2.5rem;
      }
    }
  }

  &__copyright {
    font-weight: 400;
    padding-bottom: 2.5rem;
    // Used absolute measurements to ensure it stays on 2 lines for all mobile devices
    width: 12.75rem;

    // Displays the contact information in one line for medium devices
    @include medium {
      width: 100%;
    }
  }
}
