/* media query for mobile*/
/* media query for tablet*/
/* media query for desktops*/
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTProDemi.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTProBold.ttf");
  font-weight: 700;
}
.header__nav {
  font-family: "Avenir";
  width: 100%;
  height: 80px;
  background-color: #323232;
  color: #e1e1e1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__nav-logo-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.header__nav-image {
  width: 7.5rem;
  margin-bottom: 0.5rem;
}
.header__nav-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0.5rem;
  width: 100%;
}
.header__nav-menu-item {
  width: 50vw;
  text-align: center;
  border-bottom: 0.2125rem solid transparent;
}
.header__nav-menu-item-link {
  text-decoration: none;
  display: block;
  padding-bottom: 0.44rem;
  color: #afafaf;
}
.header__nav-menu-item-link:hover {
  border-bottom: 0.4125rem solid #ffffff;
  color: #ffffff;
}
.header__nav-menu-item #active {
  color: #ffffff;
  border-bottom: 0.4125rem solid #ffffff;
}

@media only screen and (min-width: 768px) {
  .header__nav {
    flex-direction: row;
  }
  .header__nav-logo-container {
    margin-top: 0px;
  }
  .header__nav-image {
    width: 7.5rem;
    margin-bottom: 0rem;
    margin-left: 1.5rem;
  }
  .header__nav-menu {
    justify-content: left;
    align-items: center;
    margin-top: 0px;
    height: 5rem;
  }
  .header__nav-menu-item {
    display: flex;
    align-items: center;
    text-align: center;
    height: 5rem;
    width: 5rem;
    border-bottom: unset;
    margin-left: 3.5rem;
  }
  .header__nav-menu-item-link {
    width: 5rem;
    display: block;
    margin-top: 0.7125rem;
    padding-bottom: 1.4rem;
    padding-top: 1.5rem;
    border-bottom: 0.4125rem solid transparent;
  }
}
@media only screen and (min-width: 1200px) {
  .header__nav-logo-container {
    margin-top: 0px;
  }
  .header__nav-image {
    width: 7.5rem;
    margin-bottom: 0rem;
    margin-left: 11.25rem;
    margin-right: 1.75rem;
  }
  .header__nav-menu {
    justify-content: left;
    margin-top: 0px;
  }
  .header__nav-menu-item {
    margin-left: 1.75rem;
    margin-right: 1.75rem;
    border-bottom: unset;
  }
  .header__nav-menu-item-link {
    border-bottom: 0.4125rem solid transparent;
  }
}
main {
  padding: unset;
}

.hero {
  height: 11.4375rem;
  width: 100%;
  background-image: url("../assets/images/hero-bio.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: left;
  align-content: center;
}
.hero__opacity {
  background-color: rgba(0, 0, 0, 0.5);
  height: inherit;
  width: inherit;
  display: flex;
  align-items: center;
}
.hero__title {
  font-family: "Avenir";
  color: #ffffff;
  font-size: 1.5rem;
  width: 13rem;
  line-height: 2rem;
  padding-left: 1rem;
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  .hero {
    height: 25rem;
  }
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    width: 32rem;
    padding-left: 1.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .hero {
    height: 41.875rem;
  }
  .hero__title {
    padding-left: 11.25rem;
  }
}
.bio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Avenir";
}
@media only screen and (min-width: 1200px) {
  .bio__content {
    padding: 0 8.5%;
  }
}
.bio__image {
  margin-bottom: 24px;
  min-width: 100%;
  max-width: 100%;
}
@media only screen and (min-width: 768px) {
  .bio__image {
    margin-bottom: 32px;
  }
}
@media only screen and (min-width: 1200px) {
  .bio__image {
    margin: 0 auto 48px auto;
  }
}
.bio__quote {
  padding-bottom: 32px;
}
@media only screen and (min-width: 1200px) {
  .bio__quote {
    width: 90%;
  }
}
.bio__signature {
  font-size: 0.875rem;
  font-weight: 600;
  padding-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .bio__signature {
    font-size: 1rem;
  }
}
.bio__name {
  padding-bottom: 24px;
}
@media only screen and (min-width: 1200px) {
  .bio__name {
    padding-bottom: 32px;
  }
}
.bio__story {
  padding-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .bio__story {
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.bio__story-text {
  padding-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .bio__story-text {
    width: 47%;
    padding-bottom: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .bio__story-text {
    padding-bottom: 48px;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1,
.title,
.section__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media only screen and (min-width: 768px) {
  h1,
.title,
.section__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
@media only screen and (min-width: 1200px) {
  h1,
.title,
.section__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

h2 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media only screen and (min-width: 1200px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
@media only screen and (min-width: 1200px) {
  h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 600;
  }
}

h4,
p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  h4,
p {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media only screen and (min-width: 1200px) {
  h4,
p {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

h5,
.new-comment__label,
.shows__label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #afafaf;
  font-weight: 600;
}

.footer,
.bio,
.comments,
.hero__content {
  padding: 0 5%;
}
@media only screen and (min-width: 768px) {
  .footer,
.bio,
.comments,
.hero__content {
    padding: 0 3%;
  }
}
@media only screen and (min-width: 1200px) {
  .footer,
.bio,
.comments,
.hero__content {
    padding: 0 12.5%;
  }
}

.footer__contact div {
  padding-bottom: 20px;
}
@media only screen and (min-width: 1200px) {
  .footer__contact div {
    padding-bottom: 24px;
  }
}

.section__title {
  line-height: 1.2rem;
  font-weight: 700;
  line-height: 2rem;
  font-size: 1.5rem;
  padding: 32px 0 24px 0;
}
@media only screen and (min-width: 768px) {
  .section__title {
    padding: 40px 0 32px 0;
    line-height: 1.2;
    font-weight: 700;
    line-height: 2.75rem;
    font-size: 2.255rem;
  }
}
@media only screen and (min-width: 1200px) {
  .section__title {
    padding: 40px 0 40px 0;
    line-height: 1.2;
    font-weight: 700;
    line-height: 2.75rem;
    font-size: 2.25rem;
  }
}

.new-comment__form-name:focus,
.new-comment__form-message:focus,
.new-comment__form-button:focus {
  outline: none;
  border-color: #323232;
}

.footer {
  background-color: #323232;
  color: #ffffff;
  font-family: "Avenir";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media only screen and (min-width: 768px) {
  .footer__top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
@media only screen and (min-width: 768px) {
  .footer__top--left {
    width: 60%;
    display: flex;
    align-items: baseline;
  }
}
.footer__top-title {
  font-size: 2rem;
}
@media only screen and (min-width: 768px) {
  .footer__top-title {
    padding-right: 2.5rem;
  }
}
.footer__top-social {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 2rem;
}
.footer__top-social-icon {
  padding-right: 2rem;
}
.footer__top-logo {
  display: none;
}
@media only screen and (min-width: 768px) {
  .footer__top-logo {
    display: block;
  }
}
@media only screen and (min-width: 1200px) {
  .footer__top-logo {
    height: 1.5rem;
    width: 9.375rem;
  }
}
@media only screen and (min-width: 768px) {
  .footer__contacts {
    display: flex;
  }
}
@media only screen and (min-width: 768px) {
  .footer__contact {
    padding-right: 3%;
    padding-right: 1.5rem;
    width: 13.75rem;
  }
}
.footer__contact-name {
  font-weight: 600;
}
.footer__contact-email {
  padding-bottom: 1.875rem;
}
@media only screen and (min-width: 1200px) {
  .footer__contact-email {
    padding-bottom: 2.5rem;
  }
}
.footer__copyright {
  font-weight: 400;
  padding-bottom: 2.5rem;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .footer__copyright {
    width: 100%;
  }
}
.footer__copyright-hidden {
  margin-bottom: 3%;
  margin-top: 10%;
}
@media only screen and (min-width: 768px) {
  .footer__copyright-hidden {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .footer__copyright-hidden {
    display: none;
  }
}

.gallery {
  background-color: #fafafa;
  padding: 0 1rem;
}
.gallery__title {
  font-family: "Avenir";
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 2rem 0 1rem 0;
  font-weight: 700;
}
.gallery__images {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
}
.gallery__images-item {
  height: 50.625vw;
  width: 100%;
  padding: 0.5rem 0;
  filter: grayscale(1);
}
.gallery__images-item:hover {
  filter: none;
}

@media only screen and (min-width: 768px) {
  .gallery {
    padding: 0 1.5rem;
  }
  .gallery__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-bottom: 2rem;
  }
  .gallery__images {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .gallery__images-item {
    height: 16.40625vw;
    width: calc(33% - 12px);
    padding: 0 0 1.5rem 0;
  }
}
@media only screen and (min-width: 1200px) {
  .gallery {
    padding: 0 11.25rem;
  }
  .gallery__title {
    padding: 3rem 0 4rem 0;
  }
  .gallery__images {
    padding-bottom: 16px;
  }
  .gallery__images-item {
    height: 11.7363vw;
  }
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.comments {
  display: flex;
  flex-direction: column;
  font-family: "Avenir";
}
.comments__title {
  padding-bottom: 40px;
}
@media only screen and (min-width: 1200px) {
  .comments__title {
    padding: 48px 0 56px 0;
  }
}

.new-comment {
  display: flex;
  border-bottom: 1px solid #e1e1e1;
}
@media only screen and (min-width: 768px) {
  .new-comment {
    width: 70%;
    align-self: center;
  }
}
@media only screen and (min-width: 1200px) {
  .new-comment {
    width: 60%;
  }
}
.new-comment__avatar {
  background-image: url("../assets/images/Mohan-muruge.jpg");
  background-size: cover;
  margin-top: 20px;
  background-color: #e1e1e1;
  border-radius: 100px;
  width: 48px;
  height: 48px;
}
.new-comment__form {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  flex-grow: 2;
}
.new-comment__form-name {
  border-radius: 4px;
  border: 2px solid #e1e1e1;
  background-color: #fafafa;
  padding: 16px 0 16px 16px;
  margin-bottom: 24px;
  font-family: "Avenir";
}
.new-comment__form-name::-moz-placeholder {
  color: #323232;
}
.new-comment__form-name:-ms-input-placeholder {
  color: #323232;
}
.new-comment__form-name::placeholder {
  color: #323232;
}
.new-comment__form-name:focus {
  color: #323232;
}
.new-comment__form-message {
  border-radius: 4px;
  border: 2px solid #e1e1e1;
  background-color: #fafafa;
  padding: 16px 0 16px 16px;
  margin-bottom: 24px;
  padding-right: 16px;
  resize: none;
  font-family: "Avenir";
}
.new-comment__form-message::-moz-placeholder {
  color: #323232;
}
.new-comment__form-message:-ms-input-placeholder {
  color: #323232;
}
.new-comment__form-message::placeholder {
  color: #323232;
}
.new-comment__form-message:focus {
  color: #323232;
}
@media only screen and (min-width: 1200px) {
  .new-comment__form-message {
    padding-bottom: 48px;
  }
}
.new-comment__form-button {
  align-self: flex-end;
  border-radius: 4px;
  background-color: #323232;
  color: #ffffff;
  padding: 16px 0;
  border: none;
  cursor: pointer;
  margin-bottom: 16px;
  width: 225.61px;
}
@media only screen and (min-width: 768px) {
  .new-comment__form-button {
    margin-bottom: 24px;
    border-radius: 4px;
    background-color: #323232;
    color: #ffffff;
    padding: 16px 0;
    border: none;
    cursor: pointer;
    margin-bottom: 16px;
    width: 160px;
  }
}
.new-comment__form-button:hover {
  background-color: black;
}

.comments__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.comment {
  display: flex;
  border-bottom: 1px solid #e1e1e1;
  padding-top: 24px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .comment {
    width: 70%;
  }
}
@media only screen and (min-width: 1200px) {
  .comment {
    width: 60%;
  }
}
.comment__avatar {
  margin-top: 0;
  background-color: #e1e1e1;
  border-radius: 100px;
  width: 48px;
  height: 48px;
}
.comment__details {
  margin-left: 5%;
  flex-grow: 2;
  width: 75%;
}
.comment__details-header {
  display: flex;
  justify-content: space-between;
}
.comment__details-name {
  font-weight: bold;
}
@media only screen and (min-width: 768px) {
  .comment__details-name {
    padding-right: 10px;
  }
}
.comment__details-timestamp {
  color: #afafaf;
}
.comment__details-message {
  padding: 16px 0 24px 0;
  font-size: 0.875rem;
  line-height: 1.375rem;
}/*# sourceMappingURL=bio.css.map */