/* media query for mobile*/
/* media query for tablet*/
/* media query for desktops*/
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTProDemi.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTProBold.ttf");
  font-weight: 700;
}
.header__nav {
  font-family: "Avenir";
  width: 100%;
  height: 80px;
  background-color: #323232;
  color: #e1e1e1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__nav-logo-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.header__nav-image {
  width: 7.5rem;
  margin-bottom: 0.5rem;
}
.header__nav-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0.5rem;
  width: 100%;
}
.header__nav-menu-item {
  width: 50vw;
  text-align: center;
  border-bottom: 0.2125rem solid transparent;
}
.header__nav-menu-item-link {
  text-decoration: none;
  display: block;
  padding-bottom: 0.44rem;
  color: #afafaf;
}
.header__nav-menu-item-link:hover {
  border-bottom: 0.4125rem solid #ffffff;
  color: #ffffff;
}
.header__nav-menu-item #active {
  color: #ffffff;
  border-bottom: 0.4125rem solid #ffffff;
}

@media only screen and (min-width: 768px) {
  .header__nav {
    flex-direction: row;
  }
  .header__nav-logo-container {
    margin-top: 0px;
  }
  .header__nav-image {
    width: 7.5rem;
    margin-bottom: 0rem;
    margin-left: 1.5rem;
  }
  .header__nav-menu {
    justify-content: left;
    align-items: center;
    margin-top: 0px;
    height: 5rem;
  }
  .header__nav-menu-item {
    display: flex;
    align-items: center;
    text-align: center;
    height: 5rem;
    width: 5rem;
    border-bottom: unset;
    margin-left: 3.5rem;
  }
  .header__nav-menu-item-link {
    width: 5rem;
    display: block;
    margin-top: 0.7125rem;
    padding-bottom: 1.4rem;
    padding-top: 1.5rem;
    border-bottom: 0.4125rem solid transparent;
  }
}
@media only screen and (min-width: 1200px) {
  .header__nav-logo-container {
    margin-top: 0px;
  }
  .header__nav-image {
    width: 7.5rem;
    margin-bottom: 0rem;
    margin-left: 11.25rem;
    margin-right: 1.75rem;
  }
  .header__nav-menu {
    justify-content: left;
    margin-top: 0px;
  }
  .header__nav-menu-item {
    margin-left: 1.75rem;
    margin-right: 1.75rem;
    border-bottom: unset;
  }
  .header__nav-menu-item-link {
    border-bottom: 0.4125rem solid transparent;
  }
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1,
.title,
.section__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media only screen and (min-width: 768px) {
  h1,
.title,
.section__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
@media only screen and (min-width: 1200px) {
  h1,
.title,
.section__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

h2 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media only screen and (min-width: 1200px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
@media only screen and (min-width: 1200px) {
  h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 600;
  }
}

h4,
p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  h4,
p {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media only screen and (min-width: 1200px) {
  h4,
p {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

h5,
.new-comment__label,
.shows__label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #afafaf;
  font-weight: 600;
}

.footer,
.bio,
.comments,
.hero__content {
  padding: 0 5%;
}
@media only screen and (min-width: 768px) {
  .footer,
.bio,
.comments,
.hero__content {
    padding: 0 3%;
  }
}
@media only screen and (min-width: 1200px) {
  .footer,
.bio,
.comments,
.hero__content {
    padding: 0 12.5%;
  }
}

.footer__contact div {
  padding-bottom: 20px;
}
@media only screen and (min-width: 1200px) {
  .footer__contact div {
    padding-bottom: 24px;
  }
}

.section__title {
  line-height: 1.2rem;
  font-weight: 700;
  line-height: 2rem;
  font-size: 1.5rem;
  padding: 32px 0 24px 0;
}
@media only screen and (min-width: 768px) {
  .section__title {
    padding: 40px 0 32px 0;
    line-height: 1.2;
    font-weight: 700;
    line-height: 2.75rem;
    font-size: 2.255rem;
  }
}
@media only screen and (min-width: 1200px) {
  .section__title {
    padding: 40px 0 40px 0;
    line-height: 1.2;
    font-weight: 700;
    line-height: 2.75rem;
    font-size: 2.25rem;
  }
}

.new-comment__form-name:focus,
.new-comment__form-message:focus,
.new-comment__form-button:focus {
  outline: none;
  border-color: #323232;
}

.footer {
  background-color: #323232;
  color: #ffffff;
  font-family: "Avenir";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media only screen and (min-width: 768px) {
  .footer__top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
@media only screen and (min-width: 768px) {
  .footer__top--left {
    width: 60%;
    display: flex;
    align-items: baseline;
  }
}
.footer__top-title {
  font-size: 2rem;
}
@media only screen and (min-width: 768px) {
  .footer__top-title {
    padding-right: 2.5rem;
  }
}
.footer__top-social {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 2rem;
}
.footer__top-social-icon {
  padding-right: 2rem;
}
.footer__top-logo {
  display: none;
}
@media only screen and (min-width: 768px) {
  .footer__top-logo {
    display: block;
  }
}
@media only screen and (min-width: 1200px) {
  .footer__top-logo {
    height: 1.5rem;
    width: 9.375rem;
  }
}
@media only screen and (min-width: 768px) {
  .footer__contacts {
    display: flex;
  }
}
@media only screen and (min-width: 768px) {
  .footer__contact {
    padding-right: 3%;
    padding-right: 1.5rem;
    width: 13.75rem;
  }
}
.footer__contact-name {
  font-weight: 600;
}
.footer__contact-email {
  padding-bottom: 1.875rem;
}
@media only screen and (min-width: 1200px) {
  .footer__contact-email {
    padding-bottom: 2.5rem;
  }
}
.footer__copyright {
  font-weight: 400;
  padding-bottom: 2.5rem;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .footer__copyright {
    width: 100%;
  }
}
.footer__copyright-hidden {
  margin-bottom: 3%;
  margin-top: 10%;
}
@media only screen and (min-width: 768px) {
  .footer__copyright-hidden {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .footer__copyright-hidden {
    display: none;
  }
}

.hero {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}
.hero::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #323232;
  opacity: 0.5;
}
.hero__content {
  color: #ffffff;
  width: 100%;
  z-index: 2;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero {
  background-image: url("../assets/images/hero-shows.jpg");
  background-size: cover;
  background-position: center;
  height: 150vw;
  max-height: 640px;
  font-family: "Avenir";
}
@media only screen and (min-width: 768px) {
  .hero {
    height: 87vw;
    max-height: 850vw;
  }
}
@media only screen and (min-width: 1200px) {
  .hero {
    height: 47vw;
  }
}
.hero__content-title {
  font-size: 1.5rem;
  line-height: 2rem;
  width: 288px;
  color: #ffffff;
  margin-bottom: 48px;
  margin-top: 48px;
}
@media only screen and (min-width: 768px) {
  .hero__content-title {
    font-size: 3.2rem;
    line-height: 4rem;
    width: 500px;
    color: #ffffff;
    margin-bottom: 48px;
    margin-top: 48px;
  }
}
@media only screen and (min-width: 1200px) {
  .hero__content-title {
    font-size: 3.14rem;
    line-height: 4rem;
    width: 570px;
    color: #ffffff;
    margin-bottom: 48px;
    margin-top: 48px;
  }
}
@media only screen and (min-width: 1200px) {
  .hero__content-bottom {
    display: flex;
    align-items: flex-end;
  }
}
.hero__content-song {
  border-radius: 50px;
  width: 100%;
  max-width: 387px;
  height: 120px;
}
@media only screen and (min-width: 768px) {
  .hero__content-song {
    width: 433px;
  }
}
@media only screen and (min-width: 1200px) {
  .hero__content-song {
    padding-left: 64px;
    padding-bottom: 4rem;
    width: 50%;
    max-width: 490px;
    height: 126px;
  }
}
.hero__content-iframe {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=shows.css.map */